@import '../../../assets/theme.scss';

.gauge-container {
  height: fit-content;
  .svg-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .gauge-labels {
    font-weight: bold;
    text-align: center;
    transform: translateY(-3.5rem);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .gauge-value {
      color: $color-beige;
      font-size: 28px;
      transform: translateY(-0.5rem);
    }
    .gauge-sublabel {
      color: $color-orange;
    }
  }
}
