@import '../../../../assets/theme.scss';

.homepage-controls-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  padding: 7% 0 2% 0;
  width: 100%;
  position: relative;
  height: 30%;
  transition: all ease-in 0.25s;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
  &.showGraphs {
    height: 90%;
    .gauge-control {
      top: 1%;
      right: 0;
      transform: scale(0.9);
    }
    .dropdowns {
      width: 70%;
    }
  }
  .dropdowns {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    width: 100%;
    transition: all ease-in 0.25s;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
  }
  .gauge-control {
    position: absolute;
    right: -40%;
    top: 5%;
    transition: all ease-in 0.25s;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
    transform: scale(1.5);
  }
  .controls-header {
    color: $color-orange;
    font-weight: bold;
    font-size: 18px;
  }
  .correlation-definition {
    font-size: 16px;
    color: $color-beige;
    width: 60%;
  }
}
