@import '../../../assets/theme.scss';

.graph-component {
  width: calc(100% - 1.5rem);
  height: 100%;
  position: relative;
  padding-left: 1.5rem;
  z-index: 1;
  .xAxis-svg {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(1.5rem, 100%);
    stroke: $color-beige;
    fill: $color-beige;
    color: $color-beige;
    &.hideAlternate {
      .svg-x-axis {
        .tick:nth-of-type(odd) {
          visibility: hidden;
        }
      }
    }
  }
  .yAxis-svg {
    position: absolute;
    transform: translate(calc(-10% + 1.5rem), 1%);
    top: 0;
    left: 0;
    stroke: $color-beige;
    fill: $color-beige;
    color: $color-beige;
    .svg-y-axis {
      transform: translate(10%, -1%);
      .tick {
        transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1.25);
      }
    }
  }
  .xAxisLabel {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(15rem, 0.5rem);
    color: $color-orange;
    display: none;
    &::after {
      content: ' → ';
      color: $color-orange;
      font-weight: bold;
    }
  }
  .yAxisLabel {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-4.5rem, 4rem) rotate(-90deg);
    color: $color-orange;
    display: none;
    &::after {
      content: ' → ';
      color: $color-orange;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: $width-large) {
  .graph-component {
    .xAxisLabel {
      font-size: 15px;
      transform: translate(13rem, 0.5rem);
    }
    .yAxisLabel {
      font-size: 15px;
    }
  }
}

@media screen and (max-width: $width-medium) {
  .graph-component {
    width: calc(100% - 1rem);
    padding-left: 1rem;
    .xAxisLabel {
      font-size: 14px;
      transform: translate(12rem, 0.5rem);
    }
    .yAxisLabel {
      font-size: 14px;
      transform: translate(-4rem, 4rem) rotate(-90deg);
    }
  }
}
