@import '../../../assets/theme.scss';

.homepage-container {
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 2rem;
  .homepage-header {
    color: $color-orange;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
  }
  .homepage-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    .homepage-controls {
      width: 25%;
    }
    .homepage-visual {
      width: 75%;
      padding: 1rem 0;
      .homepage-subheader {
        color: $color-beige;
        font-weight: bold;
      }
    }
  }
}

@media screen and (max-width: $width-large) {
  .homepage-container .landing-content {
    padding: 0 7%;
  }
}

@media screen and (max-width: $width-medium) {
}

@media screen and (max-width: $width-small) {
  .homepage-container .landing-content {
    transform: translateY(10%);
    flex-direction: column-reverse;
    justify-content: center;
    height: 90%;
  }
}

@media screen and (max-width: $width-extra-small) {
}

@media screen and (max-width: $width-mini) {
}

@media screen and (max-width: $width-micro) {
}
