@import '../../../../assets/theme.scss';

.dropdown-control {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  min-width: 14rem;
  .dropdown-control-header {
    color: $color-beige;
    font-weight: bold;
    font-size: 16px;
  }
  .dropdown-control-container {
    border: 1px solid $color-orange;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    &:hover {
      border: 1px solid $color-beige;
      .select__dropdown-indicator {
        color: $color-beige;
      }
      .select__indicator-separator {
        background-color: $color-beige;
      }
    }
    .select__single-value {
      color: $color-orange;
    }
    .select__control {
      border: 0 !important;
      box-shadow: none !important;
    }
    .select__indicator-separator {
      background-color: $color-orange;
    }
    .select__dropdown-indicator {
      color: $color-orange;
      &:hover {
        color: $color-beige;
      }
    }
  }
}

@media screen and (max-width: $width-large) {
  .dropdown-control {
    gap: 0.8rem;
    min-width: 12rem;
    .dropdown-control-header {
      font-size: 15px;
    }
    .dropdown-control-container {
      font-size: 15px;
    }
  }
}

@media screen and (max-width: $width-medium) {
  .dropdown-control {
    gap: 0.5rem;
    min-width: 10rem;
    .dropdown-control-header {
      font-size: 14px;
    }
    .dropdown-control-container {
      font-size: 14px;
      .select__option {
        padding: 0.8rem;
      }
    }
  }
}
