@import '../../../assets/theme.scss';

.trading-volume-page {
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.8rem;
  padding: 2rem;
  .trading-page-header {
    color: $color-orange;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 21px;
  }
  .trading-control-header {
    color: $color-beige;
    font-weight: bold;
    font-size: 18px;
  }
  .trading-content {
    padding-top: 1rem;
    height: calc(100% - 1rem);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }
  .trading-control {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 48%;
    gap: 2.5rem;
    .control-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .trading-volume-bubble {
      position: relative;
      width: 100%;
    }
  }
  .trading-visual {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 48%;
    gap: 1.5rem;
    .trading-control-description {
      color: $color-beige;
      text-align: right;
      .trading-visual-header {
        color: $color-orange;
        font-size: 18px;
        font-weight: bold;
      }
    }
    .trading-volume-graph {
      height: fit-content;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: $width-medium) {
  .trading-volume-page {
    height: calc(100% - 2rem);
    gap: 1rem;
    padding: 1rem;
    .trading-page-header {
      font-size: 16px;
    }
    .trading-control-header {
      font-size: 14px;
    }
    .trading-content {
      padding-top: 0.5rem;
      height: calc(100% - 1rem);
      gap: 1rem;
    }
    .trading-control {
      gap: 2.5rem;
      .trading-volume-bubble {
        transform: scale(0.7) translateY(-5.5rem);
      }
    }
    .trading-visual {
      gap: 1rem;
      .trading-volume-graph {
        transform: scale(0.7) translateY(-2.5rem);
      }
      .trading-control-description {
        transform: translateY(-5rem);
        .trading-visual-header {
          font-size: 14px;
        }
      }
    }
  }
}
