@import './../../../assets/theme.scss';

.stream-component {
  height: 100%;
  position: relative;
  width: fit-content;
  cursor: pointer;
  .yAxis-svg {
    position: absolute;
    transform: translate(-10%, 0);
    top: 0;
    right: 0;
    stroke: $color-beige;
    fill: $color-beige;
    color: $color-beige;
    .svg-y-axis {
      transform: translate(10%, -1%);
      .tick {
        transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1.25);
      }
    }
  }
  .xAxisLabel {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(4rem, -50%);
    color: $color-orange;
    display: none;
    &::after {
      content: ' → ';
      color: $color-orange;
      font-weight: bold;
    }
  }
  .yAxisLabel {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-7.5rem, 14rem) rotate(-90deg);
    color: $color-orange;
    display: none;
    &::after {
      content: ' → ';
      color: $color-orange;
      font-weight: bold;
    }
  }
  .graph-tooltip {
    padding: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    .graph-tooltip-text {
      font-size: 12px;
      position: absolute;
      top: -22px;
      right: 1rem;
    }
  }
}

@media screen and (max-width: $width-large) {
  .stream-component {
    .xAxisLabel {
      font-size: 13px;
    }
    .yAxisLabel {
      font-size: 13px;
    }
  }
}

@media screen and (max-width: $width-medium) {
  .stream-component {
    .xAxisLabel {
      font-size: 12px;
    }
    .yAxisLabel {
      font-size: 12px;
    }
  }
}
