@import '../../../assets/theme.scss';

.comparison-page {
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  gap: 1rem;
  .comparison-page-header {
    color: $color-orange;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
  }
  .visual-header {
    color: $color-beige;
    font-weight: bold;
    font-size: 16px;
  }
  .comparison-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
    height: 95%;
    .comparison-visuals {
      width: 70%;
      height: 100%;
      .visual {
        height: calc(100% - 2rem);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        .visual-header {
          color: $color-orange;
          font-weight: bold;
          font-size: 16px;
        }
        .visual-content {
          display: flex;
          flex-direction: column-reverse;
          justify-content: space-between;
          gap: 1rem;
          width: 100%;
          height: calc(100% - 2.5rem);
          .visual-graph {
            width: 100%;
            height: 80%;
            transform: translate(2rem, 0rem);
          }
          .visual-description {
            color: $color-beige;
            width: 100%;
            font-size: 14px;
          }
        }
      }
    }
    .comparison-controls {
      width: 28%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 2rem;
      position: relative;
      transform: translate(0, -4rem);
      .dropdowns {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      .visual {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.8rem;
        .visual-header {
          color: $color-orange;
          font-weight: bold;
          font-size: 18px;
          text-align: center;
          transform: translate(-0.2rem, 0);
        }
        .visual-content {
          display: flex;
          flex-direction: column;
          gap: 0.8rem;
          justify-content: space-between;
          .visual-graph {
          }

          .visual-description {
            color: $color-beige;
            font-size: 14px;
            transform: translate(0, -2.5rem);
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            .visual-legend {
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
              .legend-item {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 0.5rem;
                .legend-label {
                  color: $color-beige;
                  font-size: 14px;
                  font-weight: normal;
                }
                .legend-color {
                  height: 1rem;
                  width: 1rem;
                  border-radius: 0.2rem;
                  transform: translate(0, 3px);
                }
              }
            }
          }
        }
      }
    }
  }
}
