@import '../../../assets/theme.scss';

.histogram-component {
  width: calc(100% - 1.5rem);
  height: 100%;
  position: relative;
  padding-left: 1.5rem;
  transform: translateY(-100%);
  .yAxis-svg {
    position: absolute;
    transform: translate(calc(-21% + 1.5rem), 0%);
    top: 0;
    left: calc(100% + 0.5rem);
    stroke: $color-beige;
    fill: $color-beige;
    color: $color-beige;
    .svg-y-axis {
      transform: translate(10%, -1%);
      .tick {
        transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1.25);
      }
    }
  }
  .yAxisLabel {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(5.3rem, 6rem) rotate(-90deg);
    color: $color-orange;
    display: none;
    &::after {
      content: ' → ';
      color: $color-orange;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: $width-large) {
  .histogram-component {
    .yAxisLabel {
      transform: translate(6rem, 6rem) rotate(-90deg);
    }
  }
}

@media screen and (max-width: $width-medium) {
  .histogram-component {
    width: calc(100% - 1rem);
    padding-left: 1rem;
    .yAxisLabel {
      transform: translate(7rem, 6rem) rotate(-90deg);
    }
  }
}
